/* html{box-sizing: border-box;}
*,*::before,*::after{box-sizing: inherit;} */






/* .section{padding-top: 94px;
padding-bottom: 94px;} */
/* h1,h2,h3,h4,h5,h6[color:var(#212121);] */
/* ------------HEADER------------ */



/* ------------HERO------------ */


/* ----------BENEFITS------------ */




/* ----------WORK------------ */



/* ----------CREW------------ */


/* ----------CLIENTS------------ */



/* ----------FOOTER------------ */

/* ----------FOOTER-FORM--------------------- */



/* ----------PORTFOLIO------------ */
/* -------НАШІ ПРОПОЗИЦІЇ----------- */


/* -----------------BACKDROP------------------ */



/* --------------MODAL WINDOW------------------ */

