

body {
    font-family: "roboto", sans-serif;
    color: #757575;
    margin: 0;
}

ul {
    list-style: none;
}

.link {
    text-decoration: none;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}